/* div # rouge */
#rouge, #orange, #info, #primary, #success {
    width: 150px;
    height: 150px;
    font-size: 2em;
    line-height: 150px;
    text-align: center;
    color: #fff;
    margin: auto;
}

#rouge {
    background-color: red;
   
}
#orange {
    background-color: orange;
    
}
#info {
    background-color: rgb(77, 181, 205);
}
#primary {
    background-color: rgb(0, 125, 202);
}
.vert {
    background-color: rgb(25, 135, 84);
}
.gold {
    background-color: gold;
    border-radius: 50%;
}

